<%= form_for(@post) do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :short_desc %>:
  <%= f.text_field :short_desc %><br />

  <%= f.label :full_desc %>:
  <%= f.text_field :full_desc %><br />

  <%= f.label :price %>:
  <%= f.text_field :price %><br />

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
